<html>
	<head>
		<title> LearnERP! </title>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<meta name='txtweb-appkey' content='c6775e48-8dd9-4a22-b927-408db2761b58'>
	</head>
	<body>
		<%= data %>
	</body>
</html>