<html>
	<head>
		<title> LearnERP! </title>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	</head>
	<body>
		<form method="post" action="enter">
			<textarea name="data" cols="100" rows="20"></textarea>
			<input  type="submit" name="submit" value="enter">
		</form>
	</body>
	<script type="text/javascript" src="/assets/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		mode : "textareas",
		theme : "simple"
	});
</script>

</html>